@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(#{$font-path}/Poppins-SemiBold.woff2) format('woff2'), url(#{$font-path}/Poppins-SemiBold.woff) format('woff')
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(#{$font-path}/Poppins-Regular.woff2) format('woff2'), url(#{$font-path}/Poppins-Regular.woff) format('woff')
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Poppins Light'), local('Poppins-Light'), url(#{$font-path}/Poppins-Light.woff2) format('woff2'), url(#{$font-path}/Poppins-Regular.woff) format('woff')
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  background-color: $theme-color;
  background-image: url(#{$media-path}/main-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $main-font-color;
  font-family: $font-family;
  font-style: normal;
  line-height: 1em;
  max-width: 100%;
  margin: 0 auto;
  transition: .2s;
  width: 100%
}

p {
  line-height: $main-line-height
}

a {
  color: $theme-color;
  text-decoration: none;

  &:hover {
    color: $theme-color-hover
  }

  &:visited,
  &:focus,
  &:hover {
    max-width: 100%
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-font-color;
  font-family: $font-family;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
  margin: 0;
  text-transform: initial
}

h1 {
  font-size:$h1-size;
}

h2 {
  font-size:$h2-size;
}

h3 {
  font-size:$h3-size;
}

h4 {
  font-size:$h4-size;
}

h5 {
  font-size:$h5-size;
}

h6 {
  font-size:$h6-size;
}

img {
  border: 0;
  display: inline-block;
  font-size: 8px;
  height: auto;
  max-width: 100%;
  max-height: 92vh;
  image-rendering: auto;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase
}