@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(#{$font-path}/Poppins-SemiBold.woff2) format('woff2'), url(#{$font-path}/Poppins-SemiBold.woff) format('woff')
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(#{$font-path}/Poppins-Regular.woff2) format('woff2'), url(#{$font-path}/Poppins-Regular.woff) format('woff')
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Poppins Light'), local('Poppins-Light'), url(#{$font-path}/Poppins-Light.woff2) format('woff2'), url(#{$font-path}/Poppins-Regular.woff) format('woff')
}

body {
  font-family: $font-family;
  color: #596368;
  font-style: normal;
  width: 100%;
  max-width: 100%;
  line-height: 1em;
  margin: 0 auto;
  box-shadow: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}