.image-in-circle {

  &--left {
    text-align:left;
  }

  &--center {
    text-align:center;
  }

  &--right {
    text-align:right;
  }

  &__img {
    border: 20px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    width: 360px;
  }
}