.image-in-circle--right{
  text-align:right;
}
.image-in-circle__img {
  width: 360px;
  border-radius: 100%;
  border: 20px solid #fff;
  box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
}
.image-in-circle {

  &--left {
    text-align:left;
  }

  &--center {
    text-align:center;
  }

  &--right {
    text-align:right;
  }

  &__img {
    border: 20px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    width: 340px;
  }
}