.container{
  background-color: #fff;
  margin: 0;
  max-width: 100%;
}

@media (min-width: 992px) {
  .container {
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name:flipInLeft;
    animation-timing-function: ease-out;
    border-radius: 40px;
    margin: 3% auto;
    max-width: 94%;
  }
}

@media (min-width: 1450px) {
  .container {
    max-width: 1310px;
  }
}

.main {
  padding: 50px 30px 40px;

  @media (min-width: 992px) {
    padding: 50px 60px 40px;
  }

  @media (min-width: 1450px) {
    padding: 50px 70px 40px;
  }

}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  &--center {
    align-items: center !important;
  }

  &__col {
    padding-left: 15px;
    padding-right: 15px;

    &--big-left {
      padding-left: 40px;
    }

    &--big-right {
      padding-right: 40px;
    }
  }

}
