.timeline {
  position: relative;

  &:before {
    background-color: #eee;
    content: "";
    height: calc( 100% + 20px );
    left: 30px;
    position: absolute;
    top: -15px;
    width: 1px
  }

  &__date {
    background-color: #fff;
    border: 2px solid $theme-color;
    border-radius: 25px;
    color: #888;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 15px;
    position: relative
  }

  &__subheading {
    display: block;
    font-size: 12px;
    margin-top: 30px;
    padding-left: 60px
  }

  &__heading {
    display: block;
    line-height: 1.4em;
    padding-left: 60px
  }

  &__description {
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 60px
  }
}
